.stack{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #d4d0d3;
  width: 100%;
  padding-bottom: 2%;
}
.div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #dadada;
  width: 100%;
}